* {
  margin: 0px;
  padding: 0px;
}
.page-container {
  padding: 0rem;
  h2 {
    margin-bottom: 2rem;
  }
  .form-inline {
    margin-bottom: 2rem;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
  }
}
.tag {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  white-space: nowrap;
  user-select: none;
  transition: background-color 0.3s ease;
}

.tag-income {
  background-color: rgb(30, 179, 0);
  color: #ffffff;
}
.tag-expense {
  background-color: #d35757;
  color: #ffffff;
}
.tag-food {
  background-color: #57d361;
  color: #ffffff;
}
.tag-entertainment {
  background-color: #5759d3;
  color: #ffffff;
}
.tag-household {
  background-color: #8d7228;
  color: #ffffff;
}
.tag-transport {
  background-color: #5a1b66;
  color: #ffffff;
}
.tag-other {
  background-color: #d35757;
  color: #ffffff;
}
.tag-salary {
  background-color: #2140a7;
  color: #ffffff;
}
.tag-business {
  background-color: #57b0d3;
  color: #ffffff;
}
.tag-extra-income {
  background-color: #57d386;
  color: #ffffff;
}
.tag-loan {
  background-color: #9757d3;
  color: #ffffff;
}
.tag-other {
  background-color: #768a05;
  color: #ffffff;
}
.row-income {
  background-color: #e6ffed; /* light green */
}
.row-expense {
  background-color: #fff1f0; /* light red */
}
.row-income:hover,
.row-expense:hover {
  background-color: #f0f0f0;
}
